extends /layouts/_page
block content
    .row
        .col-md-6
            form.form-inline
                .form-group
                    input.form-control.input-sm(type='text', ng-model='step2Filter.$', placeholder='Filter any...')
        .col-md-6
            .btn-group.pull-right(ng-show='bankStatements.length > 0')
                button.btn.btn-default(type='button', ng-click='previous()', ng-disabled='busy')
                    i.fa.fa-chevron-left
                button.btn.btn-default(type='button', disabled='true', style='width: 100px')
                    | # {{currentBankStatementIndex+1}} of {{bankStatements.length}}
                button.btn.btn-default(type='button', ng-click='next()', ng-disabled='busy')
                    i.fa.fa-chevron-right
    .row.bank(ng-hide='loading')
        .col-md-12
            table.table.table-striped.table-condensed(ng-show='currentBankStatement')
                thead
                    tr
                        td
                        td.text-left(style='width:600px')
                            h4 Desc.
                        td.text-right
                            h4 Amount&nbsp;(B)
                        td.text-center
                            h4 Date&nbsp;(B)
                        td.text-right
                            h4 Amount&nbsp;(O)
                        td.text-center
                            h4 Date&nbsp;(O)
                        td.text-center
                            h4 Cust.
                        td.text-center
                            h4 Cust.&nbsp;ID
                        td.text-center
                            h4 Ebay
                        td.text-center
                            h4 Inv.
                        td.text-center
                            h4 Order
                        td.text-center
                            h4 Match
                        td
                tbody
                    tr.valign(ng-class="{warning: currentBankStatement._modified}")
                        td.text-center(style='padding-top:2px')
                            .btn-group.btn-group-sm
                                button.btn(type='button', disabled='true', ng-class="{'btn-default': currentBankStatement.status=='new', 'btn-success': currentBankStatement.status=='confirm', 'btn-danger': currentBankStatement.status=='ignore'}")
                                    i.fa.fa-exclamation-circle(ng-show="currentBankStatement.status=='new'")
                                    i.fa.fa-check-circle(ng-show="currentBankStatement.status=='confirm'")
                                    i.fa.fa-ban(ng-show="currentBankStatement.status=='ignore'")
                        td.text-left(style='width:600px') {{currentBankStatement.description}}
                        td.text-right(ng-class="{'danger': entry.amount!=entry.amountOrder}") {{currentBankStatement.amount | currency:'':2}}
                        td.text-center {{currentBankStatement.transferDate | date:'dd.MM.yyyy'}}
                        td.text-right {{currentBankStatement.amountOrder | currency:'':2}}
                        td.text-center {{currentBankStatement.orderDate | date:'dd.MM.yyyy'}}
                        td.text-left {{currentBankStatement.firstname}}&nbsp;{{entry.lastname}}
                        td.text-left {{currentBankStatement.customerId}}
                        td.text-right {{currentBankStatement.ebayName}}
                        td.text-right {{currentBankStatement.invoiceId}}
                        td.text-center
                            | {{currentBankStatement.orderId}}
                            span(ng-show='currentBankStatement.orderIds.length > 0') ({{currentBankStatement.orderIds}})
                        td.text-center {{currentBankStatement.matching * 100}}&nbsp;%
                        td.text-center(style='min-width:110px; padding-top:2px; padding-right: 0')
                            .btn-group.btn-group-sm(ng-show='bankStatements && currentBankStatement.orderId.length>0')
                                button.btn.btn-success(type='button', ng-click="process('confirm')", ng-disabled='busy')
                                    i.fa.fa-check
                                button.btn.btn-danger(type='button', ng-click="process('ignore')", ng-disabled='busy')
                                    i.fa.fa-ban
                                //
                                    button.btn.btn-default(type='button', ng-click="process('reset')", ng-disabled='busy')
                                        i.fa.fa-undo
                    tr
                        td(colspan='9')
                            textarea.form-control(ng-model='currentBankStatement.comments')
                        td
                            button.btn.btn-primary(type='button', ng-click='save()')
                                i.fa.fa-save
    .row.bank(ng-show='orders', ng-hide='loading')
        .col-md-12
            table.table.table-striped.table-condensed
                thead
                    tr
                        td
                        td.text-center
                            h4 Order
                        td.text-center
                            h4 Type
                        td.text-center
                            h4 Status
                        td.text-center
                            h4 Date
                        td.text-right
                            h4 Amount
                        td.text-center
                            h4 Client
                        td.text-center
                            h4 Ebay
                    tr
                        td
                        td.text-center
                            input.form-control.input-sm(type='text', ng-model='step2Filter.orderId', placeholder='Order ID...')
                        td.text-center
                            input.form-control.input-sm(type='text', ng-model='step2Filter.type', placeholder='Type...')
                        td.text-center
                            input.form-control.input-sm(type='text', ng-model='step2Filter.status', placeholder='Status...')
                        td.text-center

                        td.text-right
                            input.form-control.input-sm(type='number', ng-model='step2Filter.amount', placeholder='Amount...')
                        td.text-center
                            input.form-control.input-sm(type='text', ng-model='step2Filter.lastname', placeholder='Lastname...')
                        td.text-center
                            input.form-control.input-sm(type='text', ng-model='step2Filter.ebayName', placeholder='Ebay Name...')
                tbody.text-valign
                    tr(ng-repeat='entry in orders | filter:step2Filter:strict', ng-class="{'success': entry._selected}")
                        td
                            button.btn.btn-sm.btn-default(type='button', ng-click='selectOrder(entry)')
                                i.fa(ng-class="{'fa-circle': entry._selected, 'fa-circle-o': !entry._selected}")
                        td.text-center {{entry.orderId}}
                        td.text-center {{entry.type}}
                        td.text-center {{entry.status}}
                        td.text-center {{entry.orderDate | date:'dd.MM.yyyy'}}
                        td.text-right {{entry.amount | currency:'':2}}
                        td.text-left {{entry.firstname}}&nbsp;{{entry.lastname}}
                        td.text-right {{entry.ebayName}}
