extends /layouts/_page
block content
    .row(ng-show='loading')
        .col-md-12
            .progress
                .progress-bar.progress-bar-striped.active(role='progressbar', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100', style='width: 100%')
                    span.sr-only &nbsp;
    .row(ng-hide='loading')
        .col-md-12
            form(role='form', name='bankForm', novalidate='')
                .form-group
                    .form-group(ng-repeat="field in frm.fields | filter:{parameter:true} | orderBy: 'position'", ng-show='advanced')
                        label(for='{{field.name}}') {{field.description}}
                        input.form-control(name='{{field.name}}', ng-model='params[field.name]', ng-if="field.fieldType=='TEXT' && (!field.lookup || field.lookup.length == 0)", placeholder='{{field.name}}', type='text')
                        input.form-control(name='{{field.name}}', ng-model='params[field.name]', ng-if="field.fieldType=='DATE'", data-date-format='dd-MM-yyyy', data-autoclose='1', placeholder='{{field.name}}', bs-datepicker='', type='text')
                        .row(ng-if="field.fieldType=='DATETIME'")
                            .col-md-8
                                input.form-control(name='{{field.name}}', ng-model='params[field.name]', data-date-format='dd-MM-yyyy', data-autoclose='1', placeholder='{{field.name}} date', bs-datepicker='', type='text')
                            .col-md-4
                                input.form-control(name='{{field.name}}', ng-model='params[field.name]', data-time-format='HH:mm:ss', data-autoclose='1', placeholder='{{field.name}} time', bs-timepicker='', type='text')
                        br
                        button.btn.btn-default(type='button', ng-model='params[field.name]', ng-if="field.fieldType=='TEXT' && field.lookup.length > 0", ng-options='lookupValue as lookupValue for lookupValue in field.lookup', bs-select='')
                        button.btn.btn-default(type='button', ng-model='params[field.name]', ng-if="field.fieldType=='BOOLEAN'", bs-checkbox='')
                            i.fa(ng-class="{'fa-circle': params[field.name], 'fa-circle-o': !params[field.name]}")
                    .form-group
                        .row
                            .col-md-6
                                .btn-group.btn-group-lg
                                    button.btn.btn-primary(type='button', ng-click='query()', ng-disabled='busy')
                                        i.fa.fa-search
                                        | &nbsp;
                                        | Run
                                    button.btn.btn-default(type='button', ng-click='toggleAdvanced()', ng-disabled='busy')
                                        i.fa.fa-cogs
                                        | &nbsp;
                                        span(ng-show='advanced') Simple
                                        span(ng-hide='advanced') Advanced
                            .col-md-6
                                .btn-group.btn-group-lg.pull-right(ng-show='bankStatements')
                                    button.btn.btn-success(type='button', ng-click='assignSelected()', ng-disabled='busy')
                                        i.fa.fa-check
                                        | &nbsp;
                                        | Assign
                                    button.btn.btn-danger(type='button', ng-click='ignoreSelected()', ng-disabled='busy')
                                        i.fa.fa-ban
                                        | &nbsp;
                                        | Ignore
                                    button.btn.btn-default(type='button', ng-click='resetSelected()', ng-disabled='busy')
                                        i.fa.fa-undo
                                        | &nbsp;
                                        | Reset
    .row(ng-hide='loading')
        .col-md-12
            table.table.table-striped.table-condensed(ng-show='bankStatements')
                thead
                    tr
                        td.text-center
                            .btn-group(style='min-width: 70px')
                                button.btn.btn-sm.btn-default(type='button', ng-click='select(true)', ng-disabled='busy')
                                    i.fa.fa-check
                                button.btn.btn-sm.btn-default(type='button', ng-click='select(false)', ng-disabled='busy')
                                    i.fa.fa-minus
                        td.text-center
                            h4 Status
                        td.text-left
                            h4 Date
                        td.text-left
                            h4 Description
                        td.text-center
                            h4 Amount
                        td.text-left
                            h4 Client
                        td.text-left
                            h4 Ebay
                        td.text-left
                            h4 Order
                        td
                tbody
                    tr(ng-repeat='entry in bankStatements', ng-class="{'success': entry._selected}")
                        td.text-center
                            button.btn.btn-sm.btn-default(type='button', ng-click='entry._selected=!entry._selected', ng-disabled='busy')
                                i.fa(ng-class="{ 'fa-check': entry._selected, 'fa-minus': !entry._selected }")
                        td.text-center
                            span.label(ng-class="{'label-default': entry.status=='new', 'label-success': entry.status=='confirmed', 'label-danger': entry.status=='ignored'}")
                                i.fa.fa-exclamation-circle(ng-show="entry.status=='new'")
                                i.fa.fa-check-circle(ng-show="entry.status=='confirmed'")
                                i.fa.fa-ban(ng-show="entry.status=='ignored'")
                        td {{entry.transferDate | date:'dd.MM.yyyy'}}
                        td {{entry.description}}
                        td.text-right {{entry.amount | currency:'':2}}&nbsp;{{entry.currency}}
                        td {{entry.firstname}}&nbsp;{{entry.lastname}}
                        td {{entry.ebayName}}
                        td {{entry.orderId}}
                        td
                            button.btn.btn-sm.btn-default(type='button', ng-click='edit($index)', ng-disabled='busy')
                                i.fa.fa-pencil
