extends /layouts/_page
block content
    .row(ng-show='authenticated')
        .col-md-12
            h2
                i.fa.fa-cog
                | &nbsp;
                | Configuration
            ul.nav.nav-tabs(role='tablist')
                li(role='presentation', ng-class="{'active': tab=='database'}")
                    a(href='', ng-click="tab='database'", role='tab') Database
                li(role='presentation', ng-class="{'active': tab=='directory'}")
                    a(href='', ng-click="tab='directory'", role='tab') Directories
                li(role='presentation', ng-class="{'active': tab=='parse'}")
                    a(href='', ng-click="tab='parse'", role='tab') Parse
                li(role='presentation', ng-class="{'active': tab=='reporting'}")
                    a(href='', ng-click="tab='reporting'", role='tab') Reporting
                li(role='presentation', ng-class="{'active': tab=='print'}")
                    a(href='', ng-click="tab='print'", role='tab') Printers
                li(role='presentation', ng-class="{'active': tab=='ssh'}")
                    a(href='', ng-click="tab='ssh'", role='tab') SSH
            .tab-content
                .tab-pane(role='tabpanel', id='database', ng-class="{'active': tab=='database'}")
                    form(role='form', name='databaseForm', novalidate='')
                        .form-group
                            label(for='db') Database Type
                            button.btn.btn-default(type='button', ng-model="database", ng-change='updateDatebase()', ng-options='db.name for db in databases', bs-select='')
                        .form-group
                            label(for='dbDriver') Database Driver
                            input.form-control(name='dbDriver', ng-model="configuration['hermes.db.driver']", placeholder='Database Driver', type='text', disabled='')
                        .form-group
                            label(for='dbUrl') Database URL
                            input.form-control(name='dbUrl', ng-model="configuration['hermes.db.url']", placeholder='Database URL', type='text')
                        .form-group
                            label(for='dbUsername') Database Username
                            input.form-control(name='dbUsername', ng-model="configuration['hermes.db.username']", placeholder='Username', type='text')
                        .form-group
                            label(for='dbPassword') Database Password
                            input.form-control(name='dbPassword', ng-model="configuration['hermes.db.password']", placeholder='Password', type='password')
                        hr
                        .form-group
                            label(for='chargeSize') Charge Size
                            input.form-control(name='chargeSize', ng-model="configuration['hermes.charge.size']", placeholder='Charge Size', type='text')
                        hr
                        .form-group
                            label(for='') Hibernate Dialect
                            input.form-control(name='hibernateDialect', ng-model="configuration['hibernate.dialect']", placeholder='Dialect', type='text', disabled='')
                        .form-group
                            label(for='') Hibernate Show SQL
                            //input.form-control(name='hibernate', ng-model="configuration['hibernate.show_sql']", placeholder='Show SQL', type='text')
                            button.btn.btn-default(type='button', ng-model="configuration['hibernate.show_sql']", bs-checkbox='')
                                i.fa(ng-class="{'fa-circle': configuration['hibernate.show_sql'], 'fa-circle-o': !configuration['hibernate.show_sql']}")
                        .form-group
                            label(for='') Hibernate Format SQL
                            //input.form-control(name='hibernate', ng-model="configuration['hibernate.format_sql']", placeholder='Format SQL', type='text')
                            button.btn.btn-default(type='button', ng-model="configuration['hibernate.format_sql']", bs-checkbox='')
                                i.fa(ng-class="{'fa-circle': configuration['hibernate.format_sql'], 'fa-circle-o': !configuration['hibernate.format_sql']}")
                        .form-group
                            label(for='') Hibernate Naming Strategy
                            input.form-control(name='hibernate', ng-model="configuration['hibernate.ejb.naming_strategy']", placeholder='Naming Strategy', type='text', disabled='')
                        .form-group
                            label(for='') Hibernate DDL Auto
                            input.form-control(name='hibernateDdl', ng-model="configuration['hibernate.hbm2ddl.auto']", placeholder='DDL Auto', type='text', disabled='')
                .tab-pane(role='tabpanel', id='directory', ng-class="{'active': tab=='directory'}")
                    form(role='form', name='directoryForm', novalidate='')
                        .form-group
                            label(for='inboxDir') Inbox Directory
                            input.form-control(name='inboxDir', ng-model="configuration['hermes.inbox.dir']", placeholder='Inbox Directory', type='text')
                        .form-group
                            label(for='resultDir') Result Directory
                            input.form-control(name='resultDir', ng-model="configuration['hermes.result.dir']", placeholder='Result Directory', type='text')
                        .form-group
                            label(for='examplesDir') Examples Directory
                            input.form-control(name='examplesDir', ng-model="configuration['hermes.examples.dir']", placeholder='Examples Directory', type='text')
                        .form-group
                            label(for='archiveDir') Archive Directory
                            input.form-control(name='archiveDir', ng-model="configuration['hermes.archive.dir']", placeholder='Archive Directory', type='text')
                .tab-pane(role='tabpanel', id='parse', ng-class="{'active': tab=='parse'}")
                    form(role='form', name='parseForm', novalidate='')
                        .form-group
                            label(for='ordersForm') Orders Form
                            button.btn.btn-default(type='button', ng-model="configuration['hermes.orders.form']", ng-options='form.name as form.name for form in forms', bs-select='')
                        .form-group
                            label(for='invoiceOrderField') Invoice Order ID Field(s)
                            input.form-control(name='invoiceOrderField', ng-model="configuration['hermes.invoice.order.field']", placeholder='Invoice Order ID Field', type='text')
                        .form-group
                            label(for='invoiceIdField') Invoice ID Field(s)
                            input.form-control(name='invoiceIdField', ng-model="configuration['hermes.invoice.id.field']", placeholder='Invoice ID Field', type='text')
                        .form-group
                            label(for='labelOrderField') Label Order ID Field(s)
                            input.form-control(name='labelOrderField', ng-model="configuration['hermes.label.order.field']", placeholder='Label Order ID Field', type='text')
                        .form-group
                            label(for='labelIdField') Label Shipping ID Field(s)
                            input.form-control(name='labelIdField', ng-model="configuration['hermes.label.id.field']", placeholder='Label Shipping ID Field', type='text')
                .tab-pane(role='tabpanel', id='report', ng-class="{'active': tab=='reporting'}")
                    form(role='form', name='reportForm', novalidate='')
                        .form-group
                            label(for='orderReportTemplate') Order Report Template(s)
                            //br
                            //button.btn.btn-default(type='button', ng-model="configuration['hermes.reporting.template.report']", ng-options='rep for rep in reports', bs-select='')
                            input.form-control(name='templateDir', ng-model="configuration['hermes.reporting.template.report']", placeholder='Template Directory', type='text')
                        .form-group
                            label(for='templateDir') Template Directory
                            input.form-control(name='templateDir', ng-model="configuration['hermes.reporting.template.dir']", placeholder='Template Directory', type='text')
                        .form-group
                            label(for='templateFile') Template File
                            input(type='file', name='templateFile', nv-file-select='', uploader='uploader', multiple='')
                            br
                            ul
                                li(ng-repeat='item in uploader.queue')
                                    button.btn.btn-primary(type='button', ng-click='item.upload()')
                                        i.fa.fa-cloud-upload
                                    | &nbsp;
                                    span(ng-bind='item.file.name')
                        .form-group
                            label(for='virtualizerDir') Virtualizer Directory
                            input.form-control(name='virtualizerDir', ng-model="configuration['hermes.reporting.virtualizer.dir']", placeholder='Virtualizer Directory', type='text')
                        .form-group
                            label(for='virtualizerType') Virtualizer Type
                            input.form-control(name='virtualizerType', ng-model="configuration['hermes.reporting.virtualizer.type']", placeholder='Virtualizer Type', type='text')
                .tab-pane(role='tabpanel', id='print', ng-class="{'active': tab=='print'}")
                    form(role='form', name='printForm', novalidate='')
                        .form-group
                            label(for='printMethod') Printing Method
                            button.btn.btn-default(type='button', ng-model="configuration['hermes.printer.method']", ng-options='method.name as method.name for method in printMethods', bs-select='')
                        .form-group(ng-show="configuration['hermes.printer.method']=='ACROBAT'")
                            label(for='printMethodAcrobat') Acrobat Command
                            input.form-control(name='printMethodAcrobat', ng-model="configuration['hermes.printer.method.acrobat']", placeholder='Acrobat Command', type='text')
                        .form-group(ng-show="configuration['hermes.printer.method']=='GHOSTSCRIPT'")
                            label(for='printMethodGhostscript') Ghostscript Command
                            input.form-control(name='printMethodGhostscript', ng-model="configuration['hermes.printer.method.ghostscript']", placeholder='Ghostscript Command', type='text')
                        .form-group(ng-show="configuration['hermes.printer.method']=='IMAGE'")
                            label(for='printMethodImageFormat') Image Format
                            button.btn.btn-default(type='button', ng-model="configuration['hermes.printer.method.image.format']", ng-options='format.name as format.name for format in imageFormats', bs-select='')
                        .form-group
                            label(for='invoicePrinter') Invoice Printer
                            br
                            button.btn.btn-default(type='button', ng-model="configuration['hermes.printer.invoice']", ng-options='printer.name as printer.name for printer in printers', bs-select='')
                        .form-group
                            label(for='labelPrinter') Label Printer
                            br
                            button.btn.btn-default(type='button', ng-model="configuration['hermes.printer.label']", ng-options='printer.name as printer.name for printer in printers', bs-select='')
                        .form-group
                            label(for='reportPrinter') Report Printer
                            br
                            button.btn.btn-default(type='button', ng-model="configuration['hermes.printer.report']", ng-options='printer.name as printer.name for printer in printers', bs-select='')
                .tab-pane(role='tabpanel', id='ssh', ng-class="{'active': tab=='ssh'}")
                    form(role='form', name='sshForm', novalidate='')
                        .form-group
                            label(for='adminPassword') Admin Password
                            input.form-control(name='adminPassword', ng-model="configuration['hermes.admin.password']", placeholder='Admin Password', type='password')
                        .form-group
                            label(for='sshPort') SSH Port
                            input.form-control(name='sshPort', ng-model="configuration['hermes.ssh.port']", placeholder='SSH Port', type='text')
                        .form-group
                            label(for='sshUsername') Username
                            input.form-control(name='sshUsername', ng-model="configuration['hermes.ssh.username']", placeholder='Username', type='text')
                        .form-group
                            label(for='sshPassword') Password
                            input.form-control(name='sshPassword', ng-model="configuration['hermes.ssh.password']", placeholder='Password', type='password')
                        .form-group
                            label(for='sshLocalPort') Local Port
                            input.form-control(name='sshLocalPort', ng-model="configuration['hermes.ssh.local.port']", placeholder='Local Port', type='text')
                        .form-group
                            label(for='sshRemoteHost') Remote Host
                            input.form-control(name='sshRemoteHost', ng-model="configuration['hermes.ssh.remote.host']", placeholder='Remote Host', type='text')
                        .form-group
                            label(for='sshRemotePort') Remote Port
                            input.form-control(name='sshRemotePort', ng-model="configuration['hermes.ssh.remote.port']", placeholder='Remote Port', type='text')
                        .form-group
                            label(for='sshRemoteBinding') Remote Binding
                            input.form-control(name='sshRemoteBinding', ng-model="configuration['hermes.ssh.remote.binding']", placeholder='Remote Binding', type='text')
            button.btn.btn-lg.btn-primary(type='button', ng-click='save()')
                i.fa.fa-check
