extends /layouts/_page
block content
    .row
        .col-md-12
            .btn-group
                form(role='form', name='fieldForm', novalidate='')
                    .form-group
                        label(for='form') Form Name
                        input.form-control(name='form', ng-model="form.name", placeholder='Form Name', type='text')
                        br
                        button.btn.btn-default(type='button', ng-model='form', ng-options='form.name for form in forms', bs-select='')
                    .form-group
                        label(for='sql') SQL
                        textarea.form-control(name='sql', ng-model="form.sqlStatement", placeholder='SQL', type='text')
                .btn-group
                    button.btn.btn-primary(type='button', ng-click='save()')
                        i.fa.fa-check
                    button.btn.btn-danger(type='button', ng-click='removeForm()')
                        i.fa.fa-close
    .row
        .col-md-12
            .btn-group
                form(role='form', name='fieldForm', novalidate='')
                    .form-group
                        label(for='name') Field Name
                        input.form-control(name='name', ng-model="field.name", placeholder='Name', type='text')
                    .form-group
                        label(for='type') Type
                        input.form-control(name='type', ng-model="field.type", placeholder='Type', type='text')
                    .form-group
                        label(for='defaultValue') Default
                        input.form-control(name='defaultValue', ng-model="field.defaultValue", placeholder='Default', type='text')
                    .form-group
                        label(for='position') Position
                        input.form-control(name='position', ng-model="field.position", placeholder='Position', type='text')
                .btn-group
                    button.btn.btn-success(type='button', ng-click='add()')
                        i.fa.fa-plus
    .row(ng-show='form.fields')
        .col-md-12
            table.table.table-condensed
                thead
                    tr
                        td Name
                        td Type
                        td Default
                        td
                tbody
                    tr(ng-repeat='field in form.fields')
                        td {{field.position}}
                        td {{field.name}}
                        td {{field.type}}
                        td {{field.defaultValue}}
                        td
                            .btn-group
                                button.btn.btn-success(type='button', ng-click='select(field)')
                                    i.fa.fa-check
                                button.btn.btn-danger(type='button', ng-click='removeField($index)')
                                    i.fa.fa-close
                                //
                                    button.btn.btn-danger(type='button', ng-click='up(field)')
                                        i.fa.fa-caret-up
                                    button.btn.btn-default(type='button', ng-click='down(field)')
                                        i.fa.fa-caret-down
