extends /layouts/_page
block content
    .row(ng-show='loading')
        .col-md-12
            .progress
                .progress-bar.progress-bar-striped.active(role='progressbar', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100', style='width: 100%')
                    span.sr-only &nbsp;
    .row(ng-hide='loading')
        .col-md-6
            form(role='form', name='orderForm', novalidate='')
                .form-group
                    h2
                        i.fa.fa-calendar
                        | &nbsp;
                        | Order Search
                    hr
                    .form-group(ng-repeat="field in frm.fields | orderBy: 'position'")
                        label(for='{{field.name}}') {{field.name}}
                        input.form-control(name='{{field.name}}', ng-model='params[field.name]', ng-if="field.type=='TEXT' && (!field.lookup || field.lookup.length == 0)", placeholder='{{field.name}}', type='text')
                        input.form-control(name='{{field.name}}', ng-model='params[field.name]', ng-if="field.type=='DATE'", data-date-format='dd-MM-yyyy', data-autoclose='1', placeholder='{{field.name}}', bs-datepicker='', type='text')
                        .row(ng-if="field.type=='DATETIME'")
                            .col-md-8
                                input.form-control(name='{{field.name}}', ng-model='params[field.name]', data-date-format='dd-MM-yyyy', data-autoclose='1', placeholder='{{field.name}} date', bs-datepicker='', type='text')
                            .col-md-4
                                input.form-control(name='{{field.name}}', ng-model='params[field.name]', data-time-format='HH:mm:ss', data-autoclose='1', placeholder='{{field.name}} time', bs-timepicker='', type='text')
                        br
                        button.btn.btn-default(type='button', ng-model='params[field.name]', ng-if="field.type=='TEXT' && field.lookup.length > 0", ng-options='lookupValue as lookupValue for lookupValue in field.lookup', bs-select='')
                        button.btn.btn-default(type='button', ng-model='params[field.name]', ng-if="field.type=='BOOLEAN'", bs-checkbox='')
                            i.fa(ng-class="{'fa-circle': params[field.name], 'fa-circle-o': !params[field.name]}")
                    .form-group
                        .row
                            .col-md-4
                                .btn-group
                                    button.btn.btn-primary(type='button', ng-click='query()', ng-disabled='busy')
                                        i.fa.fa-search
                                    button.btn.btn-default(type='button', ng-click='print()', ng-disabled='busy')
                                        i.fa.fa-print
                            .col-md-8
                                i.fa.fa-2x.fa-spinner.fa-spin(ng-show='busy')
        .col-md-6
            nav
                ul.pagination
                    li(ng-repeat='page in pages()', ng-class="{'active': isCurrentPage(page)}")
                        a(href='', ng-click='go(page)') {{page}}
    .row(ng-show='busy')
        .col-md-12
            .progress
                .progress-bar.progress-bar-striped.active(role='progressbar', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100', style='width: 100%')
                    span.sr-only &nbsp;
    .row(ng-show='orders')
        .col-md-12
            table.table.table-striped.table-condensed
                thead
                    tr
                        td
                            h4 Charge
                        td.text-center
                            //i.fa.fa-sort
                        td.text-center
                            .btn-group
                                button.btn.btn-sm.btn-success(type='button', ng-click='select(true)', ng-disabled='busy')
                                    i.fa.fa-check
                                button.btn.btn-sm.btn-danger(type='button', ng-click='select(false)', ng-disabled='busy')
                                    i.fa.fa-minus
                        td.text-left
                            h4 ID
                        td.text-left
                            h4 Order ID
                        td.text-left
                            h4 Invoice Ident
                        td.text-left
                            h4 Shipping Ident
                        td.text-left
                            h4 Customer
                tbody
                    tr(ng-repeat='entry in orders')
                        td
                            h4 {{charge($index)}}
                        td
                            .btn-group
                                button.btn.btn-sm.btn-default(type='button', ng-click='moveUp($index)', ng-disabled='busy')
                                    i.fa.fa-caret-up
                                button.btn.btn-sm.btn-default(type='button', ng-click='moveDown($index)', ng-disabled='busy')
                                    i.fa.fa-caret-down
                        td.text-center
                            button.btn.btn-sm.btn-default(type='button', ng-click='entry._selected=!entry._selected', ng-disabled='busy')
                                i.fa(ng-class="{ 'fa-check': entry._selected, 'fa-minus': !entry._selected }")
                        td {{entry.unId}}
                        td {{entry.orderId}}
                        td(ng-class="{ 'success': entry._invoiceExists, 'danger': !entry._invoiceExists }")
                            //
                                span.label(ng-class="{ 'label-success': entry._invoiceExists, 'label-danger': !entry._invoiceExists }")
                                    i.fa(ng-class="{ 'fa-check': entry._invoiceExists, 'fa-minus': !entry._invoiceExists }")
                            | &nbsp;{{entry.invoiceId}}
                        td(ng-class="{ 'success': entry._labelExists, 'danger': !entry._labelExists }")
                            //
                                span.label(ng-class="{ 'label-success': entry._labelExists, 'label-danger': !entry._labelExists }")
                                    i.fa(ng-class="{ 'fa-check': entry._labelExists, 'fa-minus': !entry._labelExists }")
                            | &nbsp;{{entry.shippingId}}
                        td {{entry.lastname}}, {{entry.firstname}}
