extends /layouts/_page
block content
    .row
        .col-md-6
            form(role='form', name='orderForm', novalidate='')
                .form-group
                    h2
                        i.fa.fa-calendar
                        | &nbsp;
                        | Order Search
                    hr
                    //
                        p {{orders | json}}
                        p {{frm | json}}
                        p {{frm['fields'] | json}}
                        p {{params | json}}
                        hr
                    .form-group(ng-repeat="field in frm.fields | orderBy: 'position'")
                        label(for='{{field.name}}') {{field.name}}
                        input.form-control(name='{{field.name}}', ng-model='params[field.name]', ng-if="field.type=='TEXT'", placeholder='{{field.name}}', type='text')
                        input.form-control(name='{{field.name}}', ng-model='params[field.name]', ng-if="field.type=='DATE'", data-date-format='dd-MM-yyyy', data-autoclose='1', placeholder='{{field.name}}', bs-datepicker='', type='text')
                        .row(ng-if="field.type=='DATETIME'")
                            .col-md-8
                                input.form-control(name='{{field.name}}', ng-model='params[field.name]', data-date-format='dd-MM-yyyy', data-autoclose='1', placeholder='{{field.name}} date', bs-datepicker='', type='text')
                            .col-md-4
                                input.form-control(name='{{field.name}}', ng-model='params[field.name]', data-time-format='HH:mm:ss', data-autoclose='1', placeholder='{{field.name}} time', bs-timepicker='', type='text')
                        br
                        button.btn.btn-default(type='button', ng-model='params[field.name]', ng-if="field.type=='BOOLEAN'", bs-checkbox='')
                            i.fa(ng-class="{'fa-circle': params[field.name], 'fa-circle-o': !params[field.name]}")
                    .form-group
                        .row
                            .col-md-4
                                .btn-group
                                    button.btn.btn-primary(type='button', ng-click='query()', ng-disabled='printing')
                                        i.fa.fa-search
                                    button.btn.btn-default(type='button', ng-click='print()', ng-disabled='printing')
                                        i.fa.fa-print
                                    //
                                        button.btn.btn-default(type='button', ng-click='printReport()')
                                            i.fa.fa-paw
                            .col-md-8
                                i.fa.fa-2x.fa-spinner.fa-spin(ng-show='printing')
        .col-md-6
            nav
                ul.pagination
                    li(ng-repeat='page in pages()', ng-class="{'active': isCurrentPage(page)}")
                        a(href='', ng-click='go(page)') {{page}}
    .row(ng-show='querying')
        .col-md-12
            .progress
                .progress-bar.progress-bar-striped.active(role='progressbar', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100', style='width: 100%')
                    span.sr-only &nbsp;
    .row(ng-show='orders')
        .col-md-12
            table.table.table-condensed
                thead
                    tr
                        td
                            h4 Charge
                        td
                            .btn-group
                                button.btn.btn-success(type='button', ng-click='select(true)', ng-disabled='printing')
                                    i.fa.fa-check
                                button.btn.btn-danger(type='button', ng-click='select(false)', ng-disabled='printing')
                                    i.fa.fa-close
                        td
                            h4 Order ID
                        td
                            h4 Invoice ID
                        td
                            h4 Shipping ID
                        td
                            h4 Customer name
                        td
                            h4 Customer email
                tbody
                    tr(ng-repeat='entry in orders')
                        td
                            h4 {{charge($index)}}
                        td
                            button.btn.btn-default(type='button', ng-click='entry._selected=!entry._selected', ng-disabled='printing')
                                i.fa(ng-class="{ 'fa-check': entry._selected, 'fa-minus': !entry._selected }")
                        td {{entry.orderId}}
                        td
                            span.label(ng-class="{ 'label-success': entry.invoiceId, 'label-danger': !entry.invoiceId }")
                                i.fa(ng-class="{ 'fa-check': entry.invoiceId, 'fa-close': !entry.invoiceId }")
                            | &nbsp;{{entry.invoiceId}}
                        td
                            span.label(ng-class="{ 'label-success': entry.shippingId, 'label-danger': !entry.shippingId }")
                                i.fa(ng-class="{ 'fa-check': entry.shippingId, 'fa-close': !entry.shippingId }")
                            | &nbsp;{{entry.shippingId}}
                        td {{entry.lastname}}, {{entry.firstname}}
                        td {{entry.email}}

                    //
                        tr(ng-repeat='entry in orders.content')
                            td
                                span(ng-show="$index%configuration['hermes.charge.size']==0") {{ $index/configuration['hermes.charge.size']+1+orders.number }}
                            td
                                i.fa(ng-class="{ 'fa-check': entry.selected, 'fa-minus': !entry.selected }")
                            td {{entry.orderId}}
                            td
                                span.label(ng-class="{ 'label-success': entry.invoice, 'label-danger': !entry.invoice }")
                                    i.fa(ng-class="{ 'fa-check': entry.invoice, 'fa-close': !entry.invoice }")
                                | &nbsp;{{entry.invoiceId}}
                            td
                                span.label(ng-class="{ 'label-success': entry.label, 'label-danger': !entry.label }")
                                    i.fa(ng-class="{ 'fa-check': entry.label, 'fa-close': !entry.label }")
                                | &nbsp;{{entry.shippingId}}
