extends /layouts/_page
block content
    .row
        .col-xs-12.text-center
            h1 Printers
    .row
        .col-md-6(ng-repeat='printer in printers')
            .panel.panel-default
                .panel-heading.text-center
                    h2
                        i.fa.fa-print
                        | &nbsp;
                        | {{printer.name}}
                .panel-body
                    table.table.table-compact(ng-repeat='category in printer.attributeCategories')
                        thead
                            tr
                                th(colspan='2')
                                    h3
                                        i.fa(class='{{ getCategoryIcon(category.name) }}')
                                        | &nbsp;
                                        | {{ getCategoryName(category.name) }}
                            tr
                                th Name
                                th Value
                        tbody
                            tr(ng-repeat='attribute in category.attributes')
                                td {{attribute.name}}
                                td {{attribute.value}}
                .panel-footer
                    h3
                        span.label.label-success
                            | Status:
                            | &nbsp;
                            i.fa.fa-check
