extends /layouts/_page
block content
    .row(ng-show='loading')
        .col-md-12
            .progress
                .progress-bar.progress-bar-striped.active(role='progressbar', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100', style='width: 100%')
                    span.sr-only &nbsp;
    .row(ng-hide='loading')
        .col-md-4
            form(role='form', name='shippingForm', novalidate='')
                .form-group
                    h2
                        i.fa.fa-calendar
                        | &nbsp;
                        | Shipping Search
                        | &nbsp;
                        .btn-group
                            button.btn(type='button', ng-click='logging=!logging', ng-class="{'btn-primary': logging, 'btn-default': !logging}")
                                i.fa.fa-list
                            button.btn(type='button', ng-click='debug()', ng-class="{'btn-danger': debugging, 'btn-default': !debugging}")
                                i.fa.fa-bug
                        .btn-group.btn-group-sm(ng-show='debugging')
                            button.btn.btn-success(type='button', ng-audio='audio/success.mp3')
                                i.fa.fa-play
                            button.btn.btn-danger(type='button', ng-audio='audio/error.mp3')
                                i.fa.fa-play
                    hr
                    .form-group(ng-repeat="field in frm.fields | filter:{parameter:true} | orderBy: 'position'")
                        label(for='{{field.name}}') {{field.description}}
                        input.form-control(name='{{field.name}}', ng-model='params[field.name]', ng-if="field.fieldType=='TEXT' && (!field.lookup || field.lookup.length == 0)", placeholder='{{field.name}}', type='text')
                        input.form-control(name='{{field.name}}', ng-model='params[field.name]', ng-if="field.fieldType=='DATE'", data-date-format='dd-MM-yyyy', data-autoclose='1', placeholder='{{field.name}}', bs-datepicker='', type='text')
                        .row(ng-if="field.fieldType=='DATETIME'")
                            .col-md-8
                                input.form-control(name='{{field.name}}', ng-model='params[field.name]', data-date-format='dd-MM-yyyy', data-autoclose='1', placeholder='{{field.name}} date', bs-datepicker='', type='text')
                            .col-md-4
                                input.form-control(name='{{field.name}}', ng-model='params[field.name]', data-time-format='HH:mm:ss', data-autoclose='1', placeholder='{{field.name}} time', bs-timepicker='', type='text')
                        br
                        button.btn.btn-default(type='button', ng-model='params[field.name]', ng-if="field.fieldType=='TEXT' && field.lookup.length > 0", ng-options='lookupValue as lookupValue for lookupValue in field.lookup', bs-select='')
                        button.btn.btn-default(type='button', ng-model='params[field.name]', ng-if="field.fieldType=='BOOLEAN'", bs-checkbox='')
                            i.fa(ng-class="{'fa-circle': params[field.name], 'fa-circle-o': !params[field.name]}")
                    .form-group
                        .row
                            .col-md-12
                                button.btn.btn-lg.btn-primary(type='button', ng-click='query()', ng-disabled='busy', bs-tooltip='tooltips.shipmentSearch')
                                    i.fa.fa-search
                                    | &nbsp;
                                    | Search
        .col-md-8
            .well.well-sm(ng-show='logging', style='max-height: 300px; overflow-y: scroll;')
                .btn-group.btn-group-sm.pull-left
                    button.btn.btn-default(type='button', ng-click='runStateToggle()', bs-tooltip='tooltips.shipmentRunStartPause')
                        i.fa(ng-class="{'fa-play': runState=='stopped' || runState=='paused', 'fa-pause': runState=='playing'}")
                    button.btn.btn-default(type='button', ng-click='runStateStop()', ng-show="runState=='playing' || runState=='paused'", bs-tooltip='tooltips.shipmentRunStop')
                        i.fa.fa-stop
                .btn-group.btn-group-sm.pull-right
                    button.btn.btn-danger(type='button', ng-click='clearLogs()', bs-tooltip='tooltips.logClear')
                        i.fa.fa-trash
                    button.btn.btn-default(type='button', disabled='', bs-tooltip='tooltips.logEntries') # {{logs.length}}
                table.table.table-striped.table-condensed
                    //
                        thead
                            tr
                                td
                                td
                                td.text-left
                                    h4 Order
                                td.text-left
                                    h4 Message
                                td
                    tbody
                        tr
                            td(colspan='5')
                        tr(ng-repeat='entry in logs', ng-class="{'info': entry.status=='info', 'success': entry.status=='success', 'warning': entry.status=='warning', 'danger': entry.status=='error'}")
                            td.text-center
                                button.btn.btn-sm.btn-default(type='button', ng-click='selectLog(entry)')
                                    i.fa(ng-class="{'fa-circle': currentLog.orderId==entry.orderId, 'fa-circle-o': currentLog.orderId!=entry.orderId}")
                            td.text-center
                                i.fa(ng-class="{'fa-check-circle': entry.status=='success', 'fa-info-circle': entry.status=='info', 'fa-warning': entry.status=='warning', 'fa-exclamation-circle': entry.status=='error'}")
                            td {{entry.orderId}}
                                //
                                    span.label.label-default(ng-mouseover='selectLog(entry)')
                                        | {{entry.orderId}}
                            td
                                | {{entry.message}}
                            td
                                span.label.label-default(am-time-ago='entry.createdAt')
    .row(ng-show='busy')
        .col-md-12
            .progress
                .progress-bar.progress-bar-striped.active(role='progressbar', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100', style='width: 100%')
                    span.sr-only &nbsp;
    .row(ng-hide='busy')
        .col-md-12
            table.table.table-striped.table-condensed(ng-show='shippings')
                thead
                    tr
                        td.text-center
                            .btn-group(style='min-width: 70px')
                                button.btn.btn-sm.btn-default(type='button', ng-click='select(true)', ng-disabled='busy')
                                    i.fa.fa-check
                                button.btn.btn-sm.btn-default(type='button', ng-click='select(false)', ng-disabled='busy')
                                    i.fa.fa-minus
                        td.text-left
                            h4 Order
                        td.text-left
                            h4 Shipping
                        td.text-left
                            h4 Weight
                        td.text-left
                            h4 Company
                        td.text-left
                            h4 Firstname
                        td.text-left
                            h4 Lastname
                        td.text-left
                            h4 Street
                        td.text-left
                        td.text-left
                            h4 ZIP
                        td.text-left
                            h4 City
                        td.text-left
                            h4 Country
                        td.text-left
                            h4 DHL #
                        td
                            h4 Status
                        td
                            button.btn.btn-sm.btn-warning(type='button', ng-click='statusAll()', ng-show='debugging', ng-disabled='busy')
                                i.fa.fa-bullseye
                tbody
                    tr(ng-repeat='entry in shippings', ng-class="{'info': currentLog.orderId==entry.orderId}")
                        td.text-center
                            button.btn.btn-sm.btn-default(type='button', ng-click='entry._selected=!entry._selected', ng-disabled='busy')
                                i.fa(ng-class="{ 'fa-check': entry._selected, 'fa-minus': !entry._selected }")
                        td
                            | {{entry.orderId}}
                        td(ng-class="{ 'success': entry.shipmentId }")
                            span(ng-show='entry.shipmentId') {{entry.shipmentId}}
                        td(ng-class="{ 'success': checks[entry.id].weight, 'danger': !checks[entry.id].weight }")
                            | {{entry.weight}}
                        td(ng-class="{ 'success': checks[entry.id].company, 'danger': !checks[entry.id].company }")
                            | {{entry.Company}}
                        td(ng-class="{ 'success': checks[entry.id].firstname, 'danger': !checks[entry.id].firstname }")
                            | {{entry.firstname}}
                        td(ng-class="{ 'success': checks[entry.id].lastname, 'danger': !checks[entry.id].lastname }")
                            | {{entry.lastname}}
                        td(ng-class="{ 'success': checks[entry.id].street1, 'danger': !checks[entry.id].street1 }")
                            | {{entry.street1}}
                        td(ng-class="{ 'success': checks[entry.id].street2, 'danger': !checks[entry.id].street2 }")
                            | {{entry.street2}}
                        td(ng-class="{ 'success': checks[entry.id].zip, 'danger': !checks[entry.id].zip }")
                            | {{entry.zip}}
                        td(ng-class="{ 'success': checks[entry.id].city, 'danger': !checks[entry.id].city }")
                            | {{entry.city}}
                        td
                            | {{entry.country}}
                        td(ng-class="{ 'success': checks[entry.id].dhlAccount, 'danger': !checks[entry.id].dhlAccount }")
                            | {{entry.dhlAccount}}
                        td
                            span.label(class='label-{{statusClass(entry, 0)}}', ng-show='showStatus(entry, 0)') 1
                            | &nbsp;
                            span.label(class='label-{{statusClass(entry, 1)}}', ng-show='showStatus(entry, 1)') 2
                            | &nbsp;
                            span.label(class='label-{{statusClass(entry, 2)}}', ng-show='showStatus(entry, 2)') 3
                        td
                            .btn-group.btn-group-sm(style='min-width: 100px')
                                button.btn.btn-warning(type='button', ng-click='status(entry)', ng-show='debugging', ng-disabled='busy', bs-tooltip='tooltips.shipmentStatus')
                                    i.fa.fa-bullseye
                                button.btn.btn-default(type='button', ng-click='createShipment(entry)', ng-show='debugging', ng-disabled='busy')
                                    i.fa.fa-truck
                                button.btn.btn-default(type='button', ng-click='createLabel(entry)', ng-show='debugging', ng-disabled='busy')
                                    i.fa.fa-bookmark-o
