extends /layouts/_page
block content
    .row
        .col-md-6
            form(role='form', name='shippingForm', novalidate='')
                .form-group
                    h2
                        i.fa.fa-calendar
                        | &nbsp;
                        | Shipping Search
                    button.btn(type='button', ng-click='debug()', ng-class="{'btn-danger': debugging, 'btn-default': !debugging}")
                        i.fa.fa-bug
                    hr
                    .form-group(ng-repeat="field in frm.fields | orderBy: 'position'")
                        label(for='{{field.name}}') {{field.name}}
                        input.form-control(name='{{field.name}}', ng-model='params[field.name]', ng-if="field.type=='TEXT'", placeholder='{{field.name}}', type='text')
                        input.form-control(name='{{field.name}}', ng-model='params[field.name]', ng-if="field.type=='DATE'", data-date-format='dd-MM-yyyy', data-autoclose='1', placeholder='{{field.name}}', bs-datepicker='', type='text')
                        .row(ng-if="field.type=='DATETIME'")
                            .col-md-8
                                input.form-control(name='{{field.name}}', ng-model='params[field.name]', data-date-format='dd-MM-yyyy', data-autoclose='1', placeholder='{{field.name}} date', bs-datepicker='', type='text')
                            .col-md-4
                                input.form-control(name='{{field.name}}', ng-model='params[field.name]', data-time-format='HH:mm:ss', data-autoclose='1', placeholder='{{field.name}} time', bs-timepicker='', type='text')
                        br
                        button.btn.btn-default(type='button', ng-model='params[field.name]', ng-if="field.type=='BOOLEAN'", bs-checkbox='')
                            i.fa(ng-class="{'fa-circle': params[field.name], 'fa-circle-o': !params[field.name]}")
                    .form-group
                        .row
                            .col-md-6
                                .btn-group
                                    button.btn.btn-primary(type='button', ng-click='query()', ng-disabled='busy')
                                        i.fa.fa-search
                                    button.btn.btn-default(type='button', ng-click='check()', ng-disabled='busy')
                                        i.fa.fa-check
                            .col-md-6
                                .btn-group
                                    button.btn.btn-success(type='button', ng-audio='audio/success.mp3')
                                        i.fa.fa-play
                                    button.btn.btn-danger(type='button', ng-audio='audio/error.mp3')
                                        i.fa.fa-play
    .row(ng-show='busy')
        .col-md-12
            .progress
                .progress-bar.progress-bar-striped.active(role='progressbar', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100', style='width: 100%')
                    span.sr-only &nbsp;
    .row(ng-show='shippings')
        .col-md-12
            table.table.table-striped.table-condensed
                thead
                    tr
                        td.text-center
                            //
                                .btn-group
                                    button.btn.btn-sm.btn-success(type='button', ng-click='select(true)', ng-disabled='busy')
                                        i.fa.fa-check
                                    button.btn.btn-sm.btn-danger(type='button', ng-click='select(false)', ng-disabled='busy')
                                        i.fa.fa-minus
                        td.text-left
                            h4 Order
                        td.text-left
                            h4 Weight
                        td.text-left
                            h4 Company
                        td.text-left
                            h4 Firstname
                        td.text-left
                            h4 Lastname
                        td.text-left
                            h4 Street
                        td.text-left
                        td.text-left
                            h4 ZIP
                        td.text-left
                            h4 City
                        td.text-left
                            h4 Country
                        td.text-left
                            h4 DHL #
                        td
                            h4 Status
                        td
                            button.btn.btn-sm.btn-warning(type='button', ng-click='statusAll()', ng-show='debugging')
                                i.fa.fa-bullseye
                tbody
                    tr(ng-repeat='entry in shippings')
                        td.text-center
                            button.btn.btn-sm.btn-default(type='button', ng-click='entry._selected=!entry._selected', ng-disabled='busy')
                                i.fa(ng-class="{ 'fa-check': entry._selected, 'fa-minus': !entry._selected }")
                        td
                            | {{entry.orderId}}
                        td
                            | {{entry.Weight}}
                        td(ng-class="{ 'success': checks[entry.id].company, 'danger': !checks[entry.id].company }")
                            | {{entry.Company}}
                        td(ng-class="{ 'success': checks[entry.id].firstname, 'danger': !checks[entry.id].firstname }")
                            | {{entry.firstname}}
                        td(ng-class="{ 'success': checks[entry.id].lastname, 'danger': !checks[entry.id].lastname }")
                            | {{entry.lastname}}
                        td(ng-class="{ 'success': checks[entry.id].street1, 'danger': !checks[entry.id].street1 }")
                            | {{entry.street1}}
                        td(ng-class="{ 'success': checks[entry.id].street2, 'danger': !checks[entry.id].street2 }")
                            | {{entry.street2}}
                        td(ng-class="{ 'success': checks[entry.id].zip, 'danger': !checks[entry.id].zip }")
                            | {{entry.zip}}
                        td(ng-class="{ 'success': checks[entry.id].city, 'danger': !checks[entry.id].city }")
                            | {{entry.city}}
                        td
                            | {{entry.country}}
                        td(ng-class="{ 'success': checks[entry.id].dhlAccount, 'danger': !checks[entry.id].dhlAccount }")
                            | {{entry.dhlAccount}}
                        td
                            span.label(class='label-{{statusClass(entry, 0)}}', ng-show='showStatus(entry, 0)') 1
                            | &nbsp;
                            span.label(class='label-{{statusClass(entry, 1)}}', ng-show='showStatus(entry, 1)') 2
                            | &nbsp;
                            span.label(class='label-{{statusClass(entry, 2)}}', ng-show='showStatus(entry, 2)') 3
                        td
                            button.btn.btn-sm.btn-warning(type='button', ng-click='status(entry)', ng-show='debugging')
                                i.fa.fa-bullseye
