.modal(role='dialog', tabindex='-1')
    .modal-dialog
        .modal-content
            .modal-header
                .row
                    .col-md-7
                        form.form-inline
                            .form-group
                                h4
                                    span.label(ng-class="{'label-default': currentBankStatement.status=='new', 'label-success': currentBankStatement.status=='confirmed', 'label-danger': currentBankStatement.status=='ignored'}")
                                        i.fa.fa-exclamation-circle(ng-show="currentBankStatement.status=='new'")
                                        i.fa.fa-check-circle(ng-show="currentBankStatement.status=='confirmed'")
                                        i.fa.fa-ban(ng-show="currentBankStatement.status=='ignored'")
                            .btn-group.btn-group-sm(ng-model='search', bs-checkbox-group='')
                                label.btn.btn-default
                                    input(type='checkbox', value='amount')
                                    | Amnt. eq.
                                label.btn.btn-default
                                    input(type='checkbox', value='amountDiff')
                                    | Amnt. < 1 EUR
                                label.btn.btn-default
                                    input(type='checkbox', value='lastname')
                                    | 4 chars
                                label.btn.btn-default
                                    input(type='checkbox', value='or')
                                    span(ng-show='search.or') OR
                                    span(ng-hide='search.or') AND
                            .form-group
                                input(name='filter', type='text', ng-model='search.lastnameCriteria', placeholder='Search...', style='max-width: 100px')
                            button.btn.btn-primary(type='button', ng-click='filter()')
                                i.fa.fa-search
                    .col-md-2
                        .btn-group.btn-group-sm(ng-show='bankStatements')
                            button.btn.btn-success(type='button', ng-click='assign()', ng-disabled='busy')
                                i.fa.fa-check
                            button.btn.btn-danger(type='button', ng-click='ignore()', ng-disabled='busy')
                                i.fa.fa-ban
                            button.btn.btn-default(type='button', ng-click='reset()', ng-disabled='busy')
                                i.fa.fa-undo
                    .col-md-2
                        .btn-group.btn-group-sm.pull-right
                            button.btn.btn-default(type='button', ng-click='previous()', ng-disabled='busy')
                                i.fa.fa-chevron-left
                            button.btn.btn-default(type='button', ng-click='next()', ng-disabled='busy')
                                i.fa.fa-chevron-right
                    .col-md-1
                        button.btn.btn-sm.btn-danger.pull-right(type='button', ng-click='$hide()')
                            i.fa.fa-close
            .modal-body
                .row
                    .col-md-12
                        table.table.table-striped.table-condensed(ng-show='currentBankStatement')
                            thead
                                tr
                                    td.text-left
                                        h4 Date
                                    td.text-left
                                        h4 Description
                                    td.text-right
                                        h4 Amount
                                    td.text-right
                                        h4 Client
                                    td.text-right
                                        h4 Ebay
                                    td.text-center
                                        h4 Order
                            tbody
                                tr
                                    td.text-left {{currentBankStatement.transferDate | date:'dd.MM.yyyy'}}
                                    td.text-left {{currentBankStatement.description}}
                                    td.text-right {{currentBankStatement.amount | currency:'':2}}&nbsp;{{currentBankStatement.currency}}
                                    td.text-right {{currentBankStatement.firstname}}&nbsp;{{currentBankStatement.lastname}}
                                    td.text-right {{currentBankStatement.ebayName}}
                                    td.text-center {{currentBankStatement.orderId}}
                .row(ng-show='orders')
                    .col-md-10.col-md-offset-1.text-center
                        hr
                        h3
                            i.fa.fa-exchange
                        hr
                .row(ng-show='orders')
                    .col-md-12
                        table.table.table-striped.table-condensed
                            thead
                                tr
                                    td
                                    td.text-center
                                        h4 Order
                                    td.text-left
                                        h4 Type
                                    td.text-center
                                        h4 Status
                                    td.text-center
                                        h4 Date
                                    td.text-right
                                        h4 Amount
                                    td.text-center
                                        h4 Client
                                    td.text-center
                                        h4 Ebay
                            tbody
                                tr(ng-repeat='entry in orders', ng-class="{'success': entry._selected}")
                                    td
                                        button.btn.btn-default(type='button', ng-click='selectOrder(entry)')
                                            i.fa(ng-class="{'fa-circle': entry._selected, 'fa-circle-o': !entry._selected}")
                                    td.text-center {{entry.orderId}}
                                    td.text-center {{entry.type}}
                                    td.text-center {{entry.status}}
                                    td.text-center {{entry.orderDate | date:'dd.MM.yyyy'}}
                                    td.text-right {{entry.amount | currency:'':2}}&nbsp;EUR
                                    td.text-center {{entry.firstname}}&nbsp;{{entry.lastname}}
                                    td.text-right {{entry.ebayName}}
                        // TODO: implement this
            //.modal-footer
