.modal(role='dialog', tabindex='-1')
    .modal-dialog
        .modal-content
            .modal-header
                .row
                    .col-md-6
                        form.form-inline
                            .form-group
                                h4.modal-title
                                    span.label(ng-class="{'label-default': currentBankStatement.status!='confirmed', 'label-success': currentBankStatement.status=='confirmed'}")
                                        i.fa.fa-check-circle(ng-show="currentBankStatement.status=='confirmed'")
                                        i.fa.fa-exclamation-circle(ng-hide="currentBankStatement.status=='confirmed'")
                            .btn-group.btn-group-sm(ng-model='search', bs-checkbox-group='')
                                label.btn.btn-default
                                    input(type='checkbox', value='amount')
                                    | Identical Amount
                                label.btn.btn-default
                                    input(type='checkbox', value='amountDiff')
                                    | Amount < 1 EUR
                                label.btn.btn-default
                                    input(type='checkbox', value='lastname')
                                    | Lastname 4 chars
                            button.btn.btn-primary(type='button', ng-click='resolve()')
                                i.fa.fa-search
                    .col-md-3
                        .btn-group.btn-group-sm
                            button.btn.btn-success(type='button', ng-click='assign()', ng-disabled='busy')
                                i.fa.fa-check
                                | &nbsp;
                                | Assign
                            button.btn.btn-default(type='button', ng-click='ignore()', ng-disabled='busy', ng-show='bankStatements')
                                i.fa.fa-ban
                                | &nbsp;
                                | Ignore
                    .col-md-2
                        .btn-group.btn-group-sm.pull-right
                            button.btn.btn-default(type='button', ng-click='previous()', ng-disabled='busy')
                                i.fa.fa-chevron-left
                            button.btn.btn-default(type='button', ng-click='next()', ng-disabled='busy')
                                i.fa.fa-chevron-right
                    .col-md-1
                        button.btn.btn-sm.btn-danger.pull-right(type='button', ng-click='$hide()')
                            i.fa.fa-close
            .modal-body
                .row
                    .col-md-12
                        table.table.table-striped.table-condensed(ng-show='currentBankStatement')
                            thead
                                tr
                                    td.text-left
                                        h4 Date
                                    td.text-left
                                        h4 Description
                                    td.text-center
                                        h4 Amount
                                    td.text-left
                                        h4 Client
                                    td.text-left
                                        h4 Ebay
                                    td.text-left
                                        h4 Order
                            tbody
                                tr
                                    td {{currentBankStatement.transferDate | date:'dd.MM.yyyy'}}
                                    td {{currentBankStatement.description}}
                                    td.text-right {{currentBankStatement.amount | currency:'':2}}&nbsp;{{currentBankStatement.currency}}
                                    td {{currentBankStatement.firstname}}&nbsp;{{currentBankStatement.lastname}}
                                    td {{currentBankStatement.ebayName}}
                                    td {{currentBankStatement.orderId}}
                .row
                    .col-md-10.col-md-offset-1.text-center
                        hr
                        h3
                            i.fa.fa-exchange
                        hr
                .row
                    .col-md-12
                        table.table.table-striped.table-condensed
                            thead
                                tr
                                    td
                                    td.text-left
                                        h4 Order
                                    td.text-left
                                        h4 Type
                                    td.text-left
                                        h4 Date
                                    td.text-center
                                        h4 Amount
                                    td.text-left
                                        h4 Client
                                    td.text-left
                                        h4 Ebay
                            tbody
                                tr
                                    td
                                        button.btn.btn-default(type='button', ng-model='', bs-checkbox='')
                                            i.fa.fa-circle-o
                                    td ---
                                    td ---
                                    td ---
                                    td ---
                                    td ---
                                    td ---
                        // TODO: implement this
            //.modal-footer
