header.navbar.navbar-inverse.navbar-fixed-top(role='navigation', ng-controller='NavbarCtrl')
    .container-fluid
        .navbar-header
            button.navbar-toggle(type='button', ng-click='menuShow()')
                span.sr-only Menu
                span.icon-bar
                span.icon-bar
                span.icon-bar
        #hlunavbar.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-left
                li
                    a(href='', ng-click='menuShow()')
                        i.fa.fa-bars
            ul.nav.navbar-nav.navbar-right
                li
                    a(href='', ng-click='exampleQueue()')
                        i.fa.fa-2x.fa-random
                li
                    a(href='', ui-sref='printers')
                        i.fa.fa-2x.fa-print
                li.hidden-xs
                    form.navbar-form(role='search')
                        .input-group
                            input.form-control(type='text', placeholder='Search...', ng-model='query', ng-keypress='search($event)')
                            .input-group-addon
                                .i.fa.fa-search
                li
                    .btn-group
                        button.btn.navbar-btn.btn-primary(type='button', ui-sref='signin') Sign in
