header.navbar.navbar-inverse.navbar-fixed-top(role='navigation', ng-controller='NavbarCtrl')
    .container-fluid
        .navbar-header
            button.navbar-toggle(type='button', ng-click='menuShow()')
                span.sr-only Menu
                span.icon-bar
                span.icon-bar
                span.icon-bar
        #hlunavbar.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-left
                li
                    a(href='help.html', target='_blank')
                        i.fa.fa-2x.fa-life-ring
            ul.nav.navbar-nav.navbar-right
                li
                    a(href='', ng-click='exampleQueue()')
                        i.fa.fa-2x.fa-random
                li
                    a(href='', ui-sref='printers')
                        i.fa.fa-2x.fa-print
                li
                    a(href='', ui-sref='form_list')
                        i.fa.fa-2x.fa-list-alt
                //
                    li
                        a(href='', data-animation='am-flip-x', data-html='true', bs-dropdown='dropdown')
                            i.fa.fa-2x.fa-list-alt
                li
                    a(href='', ui-sref='home')
                        i.fa.fa-2x.fa-search
                li
                    a(href='', ui-sref='shipping')
                        i.fa.fa-2x.fa-send
                li
                    a(href='', ui-sref='configuration', ng-show='authenticated')
                        i.fa.fa-2x.fa-cog
                li
                    button.btn.navbar-btn.btn-primary(type='button', ui-sref='signin', ng-hide='authenticated') Sign in
                    button.btn.navbar-btn.btn-danger(type='button', ng-click='logout()', ng-show='authenticated') Logout
