header.navbar.navbar-inverse.navbar-fixed-top(role='navigation', ng-controller='NavbarCtrl')
    .container-fluid
        .navbar-header
            button.navbar-toggle(type='button', ng-click='menuShow()')
                span.sr-only Menu
                span.icon-bar
                span.icon-bar
                span.icon-bar
        #hlunavbar.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-left
                li
                    a(href='help.html', target='_blank', data-placement='bottom-left', data-type='info', bs-tooltip='tooltips.help')
                        i.fa.fa-2x.fa-question
                li.nav-divider
                li
                    a(href='', ui-sref='home', data-placement='bottom-left', data-type='info', bs-tooltip='tooltips.orders')
                        i.fa.fa-2x.fa-search
                li
                    a(href='', ui-sref='shipping', data-placement='bottom-left', data-type='info', bs-tooltip='tooltips.shipping')
                        i.fa.fa-2x.fa-truck
                li
                    a(href='', ui-sref='bank')
                        i.fa.fa-2x.fa-bank
                li.nav-divider
                li(ng-show='loading')
                    a(href='')
                        i.fa.fa-2x.fa-refresh.fa-spin
                li(ng-hide='loading')
                    a(href='', data-animation='am-flip-x', bs-dropdown='forms', data-placement='bottom-left', data-type='info', bs-tooltip='tooltips.execute')
                        i.fa.fa-2x.fa-print
                li(ng-hide='loading')
                    a(href='', ng-click='synchronize()')
                        i.fa.fa-2x.fa-exchange
            ul.nav.navbar-nav.navbar-right
                //
                    li(ng-show='authenticated')
                        a(href='', ng-click='exampleQueue()')
                            i.fa.fa-2x.fa-random
                    li(ng-show='authenticated')
                        a(href='', ui-sref='printers', data-placement='bottom-left', data-type='info', bs-tooltip='tooltips.printers')
                            i.fa.fa-2x.fa-print
                li(ng-show='authenticated')
                    a(href='', ui-sref='form_list', data-placement='bottom-left', data-type='info', bs-tooltip='tooltips.forms')
                        i.fa.fa-2x.fa-list-alt
                li
                    a(href='', ui-sref='configuration', ng-show='authenticated', data-placement='bottom-left', data-type='info', bs-tooltip='tooltips.configuration')
                        i.fa.fa-2x.fa-cog
                li
                    button.btn.navbar-btn.btn-primary(type='button', ui-sref='signin', ng-hide='authenticated', data-placement='bottom-left', data-type='info', bs-tooltip='tooltips.signin') Sign in
                    button.btn.navbar-btn.btn-danger(type='button', ng-click='logout()', ng-show='authenticated', data-placement='bottom-left', data-type='info', bs-tooltip='tooltips.logout') Logout
