extends /layouts/_page
block content
    .row
        .col-md-4
            .btn-group.btn-group-lg(ng-show='bankStatements')
                button.btn.btn-success(type='button', ng-click="process('confirm')", ng-hide='processRunning')
                    i.fa.fa-check
                button.btn.btn-danger(type='button', ng-click='processCancel()', ng-show='processRunning')
                    i.fa.fa-cog.fa-spin
                    | &nbsp;Cancel
        .col-md-4
            form.form-inline(ng-show='bankStatements')
                .form-group
                    input.form-control.input-lg(id='filterAny' type='text', ng-model='step1Filter.$', placeholder='Filter any...')
        .col-md-4
            .btn-group.pull-right(ng-show='bankStatements.length > 0')
                button.btn.btn-default(type='button', disabled='true', style='width: 100px')
                    | {{bankStatements.length}}
    .row.bank(ng-hide='loading')
        .col-md-12
            table.table.table-striped.table-condensed(ng-show='bankStatements')
                thead
                    tr
                        td(style='width:75px')
                            .btn-group.btn-group-sm
                                button.btn.btn-default(type='button', ng-click='select(true)', ng-disabled='busy')
                                    i.fa.fa-check
                                button.btn.btn-default(type='button', ng-click='select(false)', ng-disabled='busy')
                                    i.fa.fa-minus
                        td.text-center(style="40px")
                        td.text-center(colspan=2)
                            h4 Date/Amount&nbsp;
                        td.text-center(style='width:120px')
                            h4 Order
                        td.text-right
                            h4 Name
                        td.text-left(style='width:600px')
                            h4 Bank Text
                        td.text-center
                            h4 Score
                tbody
                    tr.valign(ng-repeat='entry in bankStatements | filter:step1Filter:strict')
                        td
                            button.btn.btn-sm.btn-default(type='button', ng-click="entry._selected=!entry._selected")
                                i.fa(ng-class="{ 'fa-check': entry._selected, 'fa-minus': !entry._selected }")
                        td.text.center(class="bank-details-cell")
                            a(href='', data-placement='bottom-left', data-type='info', bs-tooltip="{title: 'BANK: {{entry.bank}}\r\nSHOP: {{entry.shop}}\r\nTYP: {{entry.type}}\r\nORDER STATUS: {{entry.orderStatus}}', placement: 'bottom', type: 'info'}")
                                img(src='/images/ico/{{entry.orderIcon}}')
                                img(src='/images/ico/{{entry.bankIcon}}')
                        td.text-left(ng-class="{'danger': entry.amount!=entry.amountOrder}" style="width: 50px")
                            | {{entry.orderDate | date:'dd.MM.yyyy'}}<br />
                            | {{entry.transferDate | date:'dd.MM.yyyy'}}<br />
                        td.text-right(ng-class="{'danger': entry.amount!=entry.amountOrder}")
                            | {{entry.amountOrder | currency:'':2}}<br />
                            | {{entry.amount | currency:'':2}}
                        td.text-left
                            | O: {{entry.orderId}}
                            span(ng-show='entry.orderIds.length > 0') ({{entry.orderIds}})
                            | <br />R: {{entry.invoiceId}} <br />
                            | B: {{entry.id}}
                        td.text-left
                            | {{entry.firstName}}&nbsp;{{entry.lastName}}<br />
                            | {{entry.customerId}},&nbsp;{{entry.company}}<br />
                            | {{entry.ebayName}}
                        td.text-left(style='width:600px')
                            span(style='width:500px; word-wrap:break-word; display:inline-block;') {{entry.text}}
                        td.text-center(class='bank-score') {{entry.matching * 100}}&nbsp;%
