extends /layouts/_page
block content
    .row
        .col-md-4
            //
                .btn-group.btn-group-lg(ng-show='bankStatements')
                    button.btn.btn-primary(type='button', ng-click='match()', ng-hide='matchRunning')
                        i.fa.fa-exchange
                        | &nbsp;Match
                    button.btn.btn-danger(type='button', ng-click='matchCancel()', ng-show='matchRunning')
                        i.fa.fa-exchange
                        | &nbsp;Cancel
            .btn-group.btn-group-lg(ng-show='bankStatements')
                button.btn.btn-success(type='button', ng-click="process('confirm')", ng-hide='processRunning')
                    i.fa.fa-check
                button.btn.btn-danger(type='button', ng-click="process('ignore')", ng-hide='processRunning')
                    i.fa.fa-ban
                button.btn.btn-default(type='button', ng-click="process('reset')", ng-hide='processRunning')
                    i.fa.fa-undo
                button.btn.btn-danger(type='button', ng-click='processCancel()', ng-show='processRunning')
                    i.fa.fa-cog.fa-spin
                    | &nbsp;Cancel
            //i.fa.fa-2x.fa-cog.fa-spin(ng-show='busy')
        .col-md-4
            form.form-inline(ng-show='bankStatements')
                .form-group
                    input.form-control.input-lg(id='filterAny' type='text', ng-model='step1Filter.$', placeholder='Filter any...')
        .col-md-4
            .btn-group.pull-right(ng-show='bankStatements.length > 0')
                button.btn.btn-default(type='button', disabled='true', style='width: 100px')
                    | {{bankStatements.length}}
    .row(ng-hide='loading')
        .col-md-12
            table.table.table-striped.table-condensed(ng-show='bankStatements')
                thead
                    tr
                        td(style='min-width: 100px')
                            .btn-group.btn-group-sm
                                button.btn.btn-default(type='button', ng-click='select(true)', ng-disabled='busy')
                                    i.fa.fa-check
                                button.btn.btn-default(type='button', ng-click='select(false)', ng-disabled='busy')
                                    i.fa.fa-minus
                        td
                        td.text-center
                            h4 Date
                        td.text-left(style='width:600px')
                            h4 Description
                        td.text-right
                            h4 Amount&nbsp;(B)
                        td.text-right
                            h4 Amount&nbsp;(O)
                        td.text-center
                            h4 Client
                        td.text-center
                            h4 Ebay
                        td.text-center
                            h4 Order
                        td.text-center
                            h4 Match
                        //td
                    tr
                        td
                        td
                        td
                        td.text-left
                            input.form-control.input-sm(type='text', ng-model='step1Filter.description', placeholder='Description...', style='max-width: 160px')
                        td.text-right
                            input.form-control.input-sm.pull-right(type='text', ng-model='step1Filter.amount', placeholder='Amount Bank...', style='max-width: 80px')
                        td.text-right
                            input.form-control.input-sm.pull-right(type='text', ng-model='step1Filter.amountOrder', placeholder='Amount Order...', style='max-width: 80px')
                        td.text-left
                            input.form-control.input-sm(type='text', ng-model='step1Filter.lastname', placeholder='Lastname...', style='max-width: 160px')
                        td.text-center
                            input.form-control.input-sm(type='text', ng-model='step1Filter.ebayName', placeholder='Ebay Name...', style='max-width: 80px')
                        td
                            input.form-control.input-sm(type='text', ng-model='step1Filter.orderId', placeholder='Order ID...', style='max-width: 80px')
                        td
                            input.form-control.input-sm(type='number', step='0.1' ng-model='step1Filter.matching', style='width: 60px')
                        //td
                tbody
                    tr.valign(ng-repeat='entry in bankStatements | filter:step1Filter:strict')
                        td
                            button.btn.btn-sm.btn-default(type='button', ng-click="entry._selected=!entry._selected", ng-disabled='busy')
                                i.fa(ng-class="{ 'fa-check': entry._selected, 'fa-minus': !entry._selected }")
                        td.text-center(style='padding-top:2px')
                            .btn-group.btn-group-sm
                                button.btn(type='button', disabled='true', ng-class="{'btn-default': entry.status=='new', 'btn-success': entry.status=='confirm', 'btn-danger': entry.status=='ignore'}")
                                    i.fa.fa-exclamation-circle(ng-show="entry.status=='new'")
                                    i.fa.fa-check-circle(ng-show="entry.status=='confirm'")
                                    i.fa.fa-ban(ng-show="entry.status=='ignore'")
                        td.text-center {{entry.transferDate | date:'dd.MM.yyyy'}}
                        td.text-left(style='width:600px') {{entry.description}}
                        td.text-right(ng-class="{'danger': entry.amount!=entry.amountOrder}") {{entry.amount | currency:'':2}}
                        td.text-right {{entry.amountOrder | currency:'':2}}
                        td.text-left {{entry.firstname}}&nbsp;{{entry.lastname}}
                        td.text-right {{entry.ebayName}}
                        td.text-center
                            | {{entry.orderId}}
                            span(ng-show='entry.orderIds.length > 0') ({{entry.orderIds}})
                        td.text-center {{entry.matching * 100}}&nbsp;%
