extends /layouts/_page
block content
    .row
        .col-md-12
            .panel.panel-default
                .panel-heading
                    h3.panel-title Form: {{form.name}}
                .panel-body
                    form(role='form', name='fieldForm', novalidate='')
                        .form-group
                            label(for='db') Database
                            br
                            button.btn.btn-default(type='button', ng-model='form.db', ng-options='database.name as database.name for database in databases', bs-select='')
                        .form-group
                            label(for='formName') Name (must be unique!)
                            input.form-control(name='form', ng-model="form.name", placeholder='Name', type='text')
                        .form-group
                            label(for='formDescription') Description
                            input.form-control(name='form', ng-model="form.description", placeholder='Description', type='text')
                        .form-group
                            label(for='formPosition') Position
                            input.form-control(name='formPosition', ng-model="form.position", placeholder='Position', type='text')
                        .form-group
                            button.btn.btn-default(type='button', ng-model='form.printable', bs-checkbox='')
                                i.fa(ng-class="{'fa-circle': form.printable, 'fa-circle-o': !form.printable}")
                            label(for='formPrintable') Printable
                        .form-group(ng-show='form.printable')
                            .input-group
                                input.form-control(name='formWidths', ng-model='width', placeholder='Width', type='number')
                                span.input-group-btn
                                    button.btn.btn-primary(type='button', ng-click='addWidth()')
                                        i.fa.fa-plus
                            ul.list-group
                                li.list-group-item(ng-repeat='widthValue in form.widths')
                                    button.btn.btn-sm.btn-danger(type='button', ng-click='removeWidth($index)')
                                        i.fa.fa-minus
                                    | &nbsp;
                                    | {{widthValue}}

                        .form-group
                            button.btn.btn-default(type='button', ng-model='form.executeOnStartup', bs-checkbox='')
                                i.fa(ng-class="{'fa-circle': form.executeOnStartup, 'fa-circle-o': !form.executeOnStartup}")
                            label(for='formExecuteOnStartup') Execute on Startup
                        .form-group
                            label(for='sql') SQL
                            textarea.form-control(ui-codemirror="{lineNumbers: true, theme: 'twilight', mode: 'text/x-mysql'}", name='sql', ng-model="form.sqlStatement", placeholder='SQL', type='text')
                    .btn-group
                        button.btn.btn-primary(type='button', ng-click='save()')
                            i.fa.fa-check
                        button.btn.btn-danger(type='button', ng-click='removeForm()')
                            i.fa.fa-close
    .row
        .col-md-6
            .panel.panel-default(ng-show='form.fields')
                .panel-heading
                    h3.panel-title Fields
                .panel-body
                    table.table.table-condensed
                        thead
                            tr
                                td
                                td Name
                                td Type
                                td Default
                                td
                        tbody
                            tr(ng-repeat="field in form.fields | orderBy: 'position'")
                                td {{field.position}}
                                td {{field.name}}
                                td {{field.type}}
                                td {{field.defaultValue}}
                                td
                                    .btn-group
                                        button.btn.btn-success(type='button', ng-click='select(field)')
                                            i.fa.fa-check
                                        button.btn.btn-danger(type='button', ng-click='removeField($index)')
                                            i.fa.fa-close
        .col-md-6
            .panel.panel-default(ng-show='form.fields')
                .panel-heading
                    h3.panel-title Field Details
                .panel-body
                    form(role='form', name='fieldForm', novalidate='')
                        .form-group
                            label(for='name') Field Name
                            input.form-control(name='name', ng-model='field.name', placeholder='Name', type='text')
                        .form-group
                            label(for='type') Type
                            br
                            button.btn.btn-default(type='button', ng-model='field.type', ng-options='type.code as type.code for type in types', bs-select='')
                        .form-group
                            label(for='defaultValue') Default
                            input.form-control(name='defaultValue', ng-mode'field.defaultValue', placeholder='Default', type='text')
                        .form-group(ng-show="field.type=='TEXT'")
                            .input-group
                                //label.sr-only(for='lookup') Lookup
                                input.form-control(name='lookup', ng-model='lookup', placeholder='Lookup', type='text')
                                span.input-group-btn
                                    button.btn.btn-primary(type='button', ng-click='addLookup()')
                                        i.fa.fa-plus
                            ul.list-group
                                li.list-group-item(ng-repeat='lookupValue in field.lookup')
                                    button.btn.btn-sm.btn-danger(type='button', ng-click='removeLookup($index)')
                                        i.fa.fa-minus
                                    | &nbsp;
                                    | {{lookupValue}}
                        .form-group
                            label(for='position') Position
                            input.form-control(name='position', ng-model="field.position", placeholder='Position', type='text')
                .panel-footer(ng-hide='field.id')
                    .btn-group
                        button.btn.btn-success(type='button', ng-click='add()')
                            i.fa.fa-plus
                        button.btn.btn-default(type='button', ng-click='resetField()')
                            i.fa.fa-asterisk
