extends /layouts/_page
block content
    .row
        .col-md-6
            h3 Forms
        .col-md-6
            button.btn.btn-default(type='button', ui-sref='form_edit({id: null})')
                i.fa.fa-asterisk
    .row
        .col-md-12
            table.table.table-condensed(ng-show='forms')
                thead
                    tr
                        td Name
                        td Description
                        td Printable
                        td Public
                        td
                tbody
                    tr(ng-repeat="form in forms | orderBy: 'position'")
                        td {{form.name}}
                        td {{form.description}}
                        td
                            i.fa(ng-class="{'fa-print': form.printable, 'fa-minus': !form.printable}")
                        td
                            i.fa(ng-class="{'fa-unlock': form.accessPublic, 'fa-lock': !form.accessPublic}")
                        td
                            .btn-group
                                button.btn.btn-primary(type='button', ui-sref='form_execute({id: form.id})')
                                    i.fa.fa-play
                                button.btn.btn-default(type='button', ui-sref='form_edit({id: form.id})')
                                    i.fa.fa-pencil
