extends /layouts/_page
block content
    .row(ng-show='loading')
        .col-md-12
            .progress
                .progress-bar.progress-bar-striped.active(role='progressbar', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100', style='width: 100%')
                    span.sr-only &nbsp;
    .row(ng-hide='loading')
        .col-md-12
            h3
                button.btn.btn-default(type='button', ui-sref='form_edit({id: null})')
                    i.fa.fa-asterisk
                | &nbsp;
                | Forms
            table.table.table-condensed(ng-show='forms')
                thead
                    tr
                        td Name
                        td Description
                        td Printable
                        td Public
                        td
                tbody
                    tr(ng-repeat="form in forms | orderBy: 'position'")
                        td {{form.name}}
                        td {{form.description}}
                        td
                            i.fa(ng-class="{'fa-print': form.printable, 'fa-minus': !form.printable}")
                        td
                            i.fa(ng-class="{'fa-unlock': form.accessPublic, 'fa-lock': !form.accessPublic}")
                        td
                            .btn-group.btn-group-sm
                                button.btn.btn-primary(type='button', ui-sref='form_execute({id: form.id})')
                                    i.fa.fa-play
                                button.btn.btn-default(type='button', ui-sref='form_edit({id: form.id})')
                                    i.fa.fa-pencil
                            button.btn.btn-sm.btn-danger(type='button', ng-click='removeForm(form.id)')
                                i.fa.fa-remove
